h1 {
    text-align: center;
    font-size: 60px;
}

.div1{
    background-color:lightblue;
    width:500px;
    height:200px;
    overflow:scroll;
}

.div2{
    background-color:lightblue;
    width:300px;
    height:50px;
    text-align:left;
}

.div3{
    background-color:lightblue;
    width:300px;
    height:100px;
    overflow:scroll;
}

.lectureC{
background-color:blue;
}

.labC{
background-color:green;
}

.tutorialC{
background-color:red;
}

